{% extends 'base.html' %}
{% block content %}
  <h1 style="text-align:center; font-size:2.5rem; margin-bottom:1rem;">
    Football Shop - Crampons Etoiles
  </h1>

  <div style="
      background-color:#fff8cc; 
      padding:1rem 2rem; 
      border-radius:12px; 
      max-width:400px; 
      margin:0 auto 1.5rem auto; 
      text-align:center;
    ">
    <p>Application Name: {{ application_name }}</p>
    <p>NPM: {{ npm }}</p>
    <p>Name: {{ name }}</p>
    <p>Class: {{ class }}</p>
  </div>

  <p>
    <a class="btn btn-primary" href="{% url 'main:create_product' %}">
      <button> Add product</button>
    </a>
  </p>
<hr>

<h5>Last login session: {{ last_login }}</h5>
{% if request.user.is_authenticated %}
    <h5>Username: {{ request.user.username }}</h5>
{% else %}
    <h5>Username: Anonymous</h5>
{% endif %}
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<hr>
<a href="?filter=all">
    <button type="button">All Articles</button>
</a>
<a href="?filter=my">
    <button type="button">My Articles</button>
</a> 
<hr>

  {% if products %}
     <table style="width:100%; border-collapse:collapse; text-align:center;">
    <thead>
      <tr style="background:#f5f5f5;">
        <th style="width:120px;">Image</th>
        <th style="width:20%;">Name</th>
        <th style="width:15%;">Category</th>
        <th style="width:10%;">Price</th>
        <th style="width:10%;">Stock</th>
        <th style="width:10%;">Featured</th>
        <th style="width:10%;">Rating</th>
      </tr>
    </thead>
    <tbody>
    {% for p in products %}
      <tr>
        <td style="padding:8px;">
          {% if p.thumbnail %}
            <img src="{{ p.thumbnail }}" alt="{{ p.name }}" style="height:140px; width:auto;">
          {% else %}
            <span>No image available</span>
          {% endif %}
        </td>
        <td style="padding:8px;">{{ p.name }}</td>
        <td style="padding:8px;">{{ p.category }}</td>
        <td style="padding:8px;">{{ p.price }} €</td>
        <td style="padding:8px;">{{ p.stock }}</td>
        <td style="padding:8px;">{{ p.is_featured|yesno:"Yes,No" }}</td>
        <td style="padding:8px;">{{ p.rating }}</td>
        <td>
            <a class="btn" href="{% url 'main:product_detail' p.pk %}">
              <button>Detail</button>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No products yet.</p>
  {% endif %}
{% endblock content %}
